In [2]:
import pandas as pd

In [3]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10963 entries, 0 to 10962
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10963 non-null  object
 1   사고일시    10963 non-null  object
 2   요일      10963 non-null  object
 3   기상상태    10963 non-null  object
 4   시군구     10963 non-null  object
 5   도로형태    10963 non-null  object
 6   노면상태    10963 non-null  object
 7   사고유형    10963 non-null  object
dtypes: object(8)
memory usage: 685.3+ KB

In [9]:
sample = pd.concat([df_train, pd.get_dummies(df_train.iloc[:, 0:18]).astype(int)], axis=1)

In [10]:
sample.head()

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,사고유형 - 세부분류,법규위반,...,피해운전자 연령_94세,피해운전자 연령_98세 이상,피해운전자 연령_9세,피해운전자 연령_미분류,피해운전자 상해정도_경상,피해운전자 상해정도_기타불명,피해운전자 상해정도_부상신고,피해운전자 상해정도_사망,피해운전자 상해정도_상해없음,피해운전자 상해정도_중상
0,ACCIDENT_00000,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,길가장자리구역통행중,안전운전불이행,...,0,0,0,0,0,0,0,0,0,1
1,ACCIDENT_00001,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,보도통행중,기타,...,0,0,0,0,1,0,0,0,0,0
2,ACCIDENT_00002,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,차도통행중,안전운전불이행,...,0,0,0,0,1,0,0,0,0,0
3,ACCIDENT_00003,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,...,0,0,0,0,0,0,0,0,0,1
4,ACCIDENT_00004,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,...,0,0,0,0,1,0,0,0,0,0

In [11]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39609 entries, 0 to 39608
Columns: 58175 entries, ID to 피해운전자 상해정도_중상
dtypes: int32(58152), int64(5), object(18)
memory usage: 8.6+ GB

In [12]:
sample.shape

(39609, 58175)

In [ ]:
target_col = ['사망자수','중상자수','경상자수','부상자수']

In [ ]:
use_col = df_test.columns.tolist()
use_col.extend(target_col)

In [ ]:
df_train = df_train[use_col]

In [ ]:
df_train.head()

In [ ]:
df_test.head()

In [ ]:
df_train.drop(['ID'], axis = 1,inplace = True)
df_test.drop(['ID'], axis = 1,inplace = True)

In [ ]:
df_train.drop(['사고일시'], axis = 1,inplace = True)
df_test.drop(['사고일시'], axis = 1,inplace = True)

In [ ]:
day_map = {
    '월요일' : '평일',
    '화요일' : '평일',
    '수요일' : '평일',
    '목요일' : '평일',
    '금요일' : '평일',
    '토요일' : '주말',
    '일요일' : '주말'
}

In [ ]:
df_train['요일'] = df_train['요일'].replace(day_map)

df_test['요일'] = df_test['요일'].replace(day_map)

In [ ]:
df_train.head()

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['요일'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['요일'])], axis=1)

In [ ]:
df_train.drop(['요일'], axis = 1,inplace = True)
df_test.drop(['요일'], axis = 1,inplace = True)

In [ ]:
df_train.head()

In [ ]:
df_test.head()

In [ ]:
df_train['기상상태'].value_counts()

In [ ]:
df_test['기상상태'].value_counts()

In [ ]:
df_train.drop(df_train[df_train['기상상태'] == '안개'].index, axis = 0, inplace = True)

df_train.reset_index(drop=True, inplace = True)

In [ ]:
df_train['기상상태'].value_counts()

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['기상상태'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['기상상태'])], axis=1)

df_train.drop(['기상상태'], axis=1, inplace = True)
df_test.drop(['기상상태'], axis=1, inplace = True)

In [ ]:
df_train.head()

In [ ]:
df_test.head()

In [ ]:
df_train['구'] = ''

for i in range(len(df_train)):
    df_train.iloc[i, 15] = df_train.iloc[i, 0].split()[1]

df_train.drop(['시군구'], axis=1, inplace = True)

In [ ]:
df_test['구'] = ''

for i in range(len(df_test)):
    df_test.iloc[i, 11] = df_test.iloc[i, 0].split()[1]

df_test.drop(['시군구'], axis=1, inplace = True)

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['구'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['구'])], axis=1)

In [ ]:
df_train.head()

In [ ]:
df_test.head()

In [ ]:
df_train['도로형태'].value_counts()

In [ ]:
df_test['도로형태'].value_counts()

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['도로형태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['도로형태'])], axis=1)

df_train.drop(['도로형태'], axis=1, inplace = True)
df_test.drop(['도로형태'], axis=1, inplace = True)

In [ ]:
df_train['노면상태'].value_counts()

In [ ]:
df_test['노면상태'].value_counts()

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['노면상태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['노면상태'])], axis=1)

df_train.drop(['노면상태'], axis=1, inplace = True)
df_test.drop(['노면상태'], axis=1, inplace = True)

In [ ]:
df_train['사고유형'].value_counts()

In [ ]:
df_test['사고유형'].value_counts()

In [ ]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['사고유형'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['사고유형'])], axis=1)

df_train.drop(['사고유형'], axis=1, inplace = True)
df_test.drop(['사고유형'], axis=1, inplace = True)

In [ ]:
df_train.head()

In [ ]:
df_train.dropna()
df_test.dropna()

In [ ]:
# df_train.to_csv("df_train.csv", encoding='utf-8')
# df_test.to_csv("df_test.csv", encoding='utf-8')